* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    margin: 0;
    font-family: "Open Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(137deg, #6a11cb 0%, #2575fc 100%);
    color: #222;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    justify-content: center;
}

h1 {
    color: white;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.genius {
    font-size: 3rem;
}

.container {
    background-color: white;
    width: 100%;
    max-width: 470px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    display: flex;
    padding: 3rem;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 1rem;
    color: #444;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#userInput {
    padding: 1.5rem;
    font-size: 1.6rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: all 300ms ease;
    outline-offset: 2px;
    outline-color: #2575fc;

}

#userInput:focus {
    border-color: #2575fc;
    box-shadow: 0 0 7px #154598;
}

#ask {
    margin-top: 2rem;
    background-color: #2575fc;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 2rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 7px #154598;
    transition: all 300ms ease;
}

#ask:hover {
    background-color: #1c57bc;
    box-shadow: 0 7px 17px grey;
}

#status {
    margin-top: 1.5rem;
    font-style: italic;
    color: #555;
    min-height: 1.7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 300ms ease;
}

#response {
    position: relative;
    font-size: 1.6rem;
    font-style: italic;
    margin-top: 1.7rem;
    color: #333;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    min-height: 12rem;
    box-shadow: inset 0 0 10px #bab9b9;
    white-space: pre-wrap;
    line-height: 1.4rem;
}